#mapid { 
    height: 800px; 
    width: 800px;
    /* margin-right:28%; */
    float: right;
}
#site_info{
    width:200px;
    line-height:20px;
    width: 10%;
    border:2px black solid;
    margin-right:6%;
    float: left;
}
#btn{
    background-color: green;
    color: #fff;
    cursor: pointer;
}