#mapid { 
    height: 800px; 
    width: 800px;
    margin-left: 23%;
}
#info{
    width:100%;
    line-height:20px;
    margin-left: 2%;
}
#dropdownMenu2{
    margin-top: 5px;
}
.btn.btn-secondary.dropdown-toggle{
    margin-top: 5%;
}

#btn{
    height:26px;
    width: 30px;
    margin-left: -10px;
    margin-top: -3.5px;
    border:none;
    border-radius: 2px;
    background-color: darkgreen;
    cursor:pointer;
}.fa.fa-search{
    font-size: 15px;
    color: aliceblue;
    float: left;
    margin-left:-4px;
}

#myInput{
    margin-right: 2%;
    height:25px;
}