#mapid { 
    height: 900px; 
    width: 900px;
}
#container_map{
    display: flex;
    justify-content: center; 
    align-items: center; 
}
.leaflet-control-zoom.leaflet-bar.leaflet-control{
    margin-top: 800px;
}
#info{
    width:900px;
    line-height:20px;
}
#container_info{
    display: flex;
    justify-content: center; 
    align-items: center; 
}
#dropdownMenu2{
    margin-top: 5px;
}
.btn.btn-secondary.dropdown-toggle{
    margin-top: 5%;
}
#btn{
    height:26px;
    width: 30px;
    margin-left: -10px;
    margin-top: -3.5px;
    border:none;
    border-radius: 2px;
    background-color: darkgreen;
    cursor:pointer;
}.fa.fa-search{
    font-size: 15px;
    color: aliceblue;
    float: left;
    margin-left:-4px;
}

#myInput{
    margin-right: 2%;
    height:25px;
}